<h1>Welcome to TicketCheck Admin Page</h1>
<td><%= link_to 'Manage Tickets', tickets_path %></td>
<td><%= link_to 'Create a Category', new_category_path %></td>
<td><%= link_to 'Create a Ticket', new_ticket_path %></td>
<td><%= link_to 'Checkout Hardware', new_checkout_path %></td>
<td><%= link_to 'Add Device', new_device_path %></td>