<h1>Tickets</h1>

<table>
  <tr>
    <th>Ticket ID</th>
    <th>Owner</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Created</th>
    <th>Description</th>
  </tr>
 <% @tickets.each do |ticket| %>

  <tr>
    <td><%= link_to ticket.id, ticket_path(ticket) %></td>
    <td><%= ticket.try(:user).try(:name) %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.created_at %></td>
    <td><%= ticket.description %></td>
  </tr>
  </tr>
 <% end %>



</table>